
:root {
  --primary-bg: #f9fafb;
  --gray-900: #1f2937;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/vendor/fonts/gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/vendor/fonts/gilroy/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Gilroy', 'Jost', sans-serif;
  background-color: var(--primary-bg);
  color: var(--gray-900);
  min-height: 100vh;
  box-sizing: border-box;
}

.streamit-block .swiper-wrapper {
  margin: 0 !important;
}

.main-content{
   background-color: var(--primary-bg);
  color: var(--gray-900);
  min-height: 100vh;
  box-sizing: border-box;
      /* margin-top: 80px;  */
  /* margin-bottom: 60px;  */
  /* height: calc(100vh - 140px); */
  /* overflow-y: auto; */
}




.top-ten-block .swiper-wrapper {
  margin-bottom: 3rem;
}
.swiper-backface-hidden .swiper-slide {
  transform: unset !important;
  backface-visibility: visible !important;
}
.video-js {
  height: 70vh;
  width: 100%;
}
.vjs-poster img {
  object-fit: cover !important;
  display: none;
}



.grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 6px;
  margin-bottom: 10px;
  max-height: 600px;
  margin-top: 25px;
}

.course-video-card {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  min-height: 500px;
  max-height: 500px;
}

/* Responsive for smaller screens (mobile-first) */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 100%;
     max-height: none;
  }
  .course-video-card {
    min-height: unset;
    max-height: unset;
  }
}


