.section-slider-title[style*='cursor: pointer'] {
  transition: color 0.2s, text-decoration 0.2s;
}
.section-slider-title[style*='cursor: pointer']:hover {
  color: #1976d2;
  text-decoration: underline;
} 



.swiper-button-next{
    width: 40px !important;
    background-color: gray !important; 
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 1.2rem !important;
  /* cursor: pointer; */
  margin-right: 20px !important;
}
.swiper-button-prev {
  width: 40px !important;
  background-color: gray !important; 
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 1.2rem !important;
  margin-right: -20px !important;
}

/* Hide pagination on larger screens */
.swiper-pagination {
  display: none;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: block;
    /* margin-top: 10px; */
     bottom: -20px !important; 
    text-align: center;
  }

  .swiper-pagination-bullet {
    background: #003366; 
    opacity: 0.5;
    margin-top: 25px;
    transition: opacity 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    background: #00cc88; 
    opacity: 1;
  }
}


